@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --light: #e2e2e2;
  --dark: #022b3a;
  --primary: #2f9c95;
  --secondary: #b27092;
  --white: #FFFFFF;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/* Heading */
header {
  background: var(--dark);
  border-bottom: 3px solid var(--primary);
  color: var(--light);
  padding: 25px 0;
  text-align: center;
}

header h1 {
  font-size: 42px;
  font-weight: 300;
}

header h1 span {
  color: var(--primary);
  font-weight: 700;
}

header p {
  font-style: italic;
}

/* Main section */
.container {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 2fr;
  margin: 25px auto;
  width: 60%;
}

/* Sidebar */
.sidebar {
  background: var(--light);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
.sidebar h2 {font-size: 2rem;text-align: center;}
.sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  display: block;
  padding: 10px;
  text-align: left;
}

.sidebar ul li span {
  color: var(--primary);
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.sidebar ul li span b {font-size: 1.5rem;}

/* Progress */
.progress {
  margin-bottom: 25px;
}
.secondary {
  color: var(--secondary);
}

/* Donation Form */
.donation {}
.donation h3 {font-size: 2rem;text-align: center;}
.donation form {width: 50%; margin: auto;display: block;}
.donation fieldset {padding: 0;/*display: grid;grid-template-columns: 1fr 3fr;*/ border: none;}
.donation label {margin: 10px 0 5px 0;font-size: 1.2rem;font-weight: 500;}
.donation input[type="text"],
.donation input[type="number"] {
  width: 100%;display: block;margin: 10px 0;padding: 10px;border: 10px solid #cbf3f0;font-size: 1.4rem; border-radius: 5px;box-sizing: border-box;
}
.donation input[type="submit"],
.donation button {
  padding: 1rem 5rem;margin: 10px auto;display: table; background: var(--primary);font-size: 1.4rem;font-weight: bold;color: var(--white);border: none;
  border-radius: 5px;
}
.donation button:hover {cursor: pointer;background-color: #2ec4b6;}

@media (max-width: 950px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
  .container {
    gap: 10px;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  article {padding: 2rem;}
  .donation form {width: 100%;}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/*
@media only screen and (min-width: 600px) {
  .container {
    gap: 10px;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 2rem;
    margin: 0;
    box-sizing: border-box;
  }
  .donation form {width: 90%;}
}
*/
/* Medium devices (landscape tablets, 768px and up) */
/*
@media only screen and (min-width: 768px) {
  .container {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    width: 80%;
  }
  .donation form {width: 100%;}  
}*/
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {} 